@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>
    Restaurants is a restaurant manager that get able to you manage and administrate your different kind of restaurants.
    You can add, edit, delete and see the restaurants of ur database.
</h3>

